* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

.to {
    padding-left: .5em; 
    padding-right: .5em; 
}

.icon {
    max-height: 3em; 
    background-color: white; 
    border-radius: 2em;
    padding:.2em; 
    margin: .1em; /*Change*/
}

.header {
    display: flex; 
    justify-content: space-between; 
    background-color: #02334E; 
    color: white; 
    align-items: center;
    padding: 5px 10px 5px 10px; 
    font-family: "Brush Script MT", cursive; 
}

.content {
    font-family: "Montserrat","Arial", sans-serif; 
}

li  {
    padding: .2em 1em .2em 1em; 
}

h1 {
    background-color: #02334E; /*Change*/
    color: white;/*Change*/
    padding: .2em;
    text-align: center; 
}

h2 {
    padding: .2em;
}


.inForm {
    text-align: center; 
    padding: 10px;
    position: sticky; 
    position: -webkit-sticky;
    background-color: #035581;
    min-height: initial; 
    top: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.center {
    min-height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background: url("/creative2/images/ferry.jpeg");
    background-size: cover; 
    color: black;
}

select {
    width: 200px;
    padding: .2em; 
    border-radius: 5px;
    margin-bottom: .2em; 
    font-family: "Montserrat", sans-serif; 
}

button {
    padding: .2em;
    border-radius: 5px;
    border: none;
    margin: .5em; 
    font-family: "Montserrat", sans-serif; 
}

button:hover {
    background-color: #4284A7; /*Change*/
    color: white; /*Change*/
}

a:link {
    color: white;
    text-decoration: none; 
    font-family: sans-serif; 
}

a:hover {
    opacity: .9; 
}

a:onclick {
    color: darkgray;
}

a:visited {
    color: white; 
}

.schedule { 
    text-align: center; 
}

.departure {
    display: block;
    padding: 10px;
    margin-top: 10px;
    height: max-content;
    border-bottom: double #02334E; 
}


.dropdown {
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height 1s ease 0s;
    border: solid 1px #4284A7; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    
    background-color: white; 
}


.visible {
    max-height: 200px; 
}

.dest-container {
    border-radius: 5px;
    margin-bottom: 10px;
}

.destination {
    border-radius: 5px; 
    margin-bottom: 3px;
    overflow: hidden; 
}

.time {
    /*background-color: #4284A7;*/
    border-color: #4284A7;
    color: #2E2E2E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    padding-left: 1em; 
    padding-top: .1em;
    padding-bottom: .1em;
}
.time:hover {
    /*background-color: #5A93B2;*/
    border-color: #5A93B2;
    color: gray;
    cursor: pointer; 
}

ul {
    

}

.footer {
    text-align: center; 
    background-color: #02334E;
    color: white;
    padding: .5em; 
}



@media screen and (min-width: 900px) {
    
    /*.to {*/
    /*    grid-area: sd; */
    /*}*/
    
    /*.departure > h1:not(.to):first-of-type {*/
    /*    grid-area: head; */
    /*}*/
    
    /*.departure > h1:not(.to):last-of-type {*/
    /*    grid-area: head2; */
    /*}*/
    

    .dest-container {
        grid-column: 1 / -1; 
        max-width: 50%; 
        min-width: 25%; 
        justify-self: center; 
        text-align: center; 
    }
    
    .departure {
        display: grid;
        grid-template-columns: 5fr 1fr 5fr; 
    }
    
}

